<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>443148440587-oab63svsnehmnq2a05e8cg7nro87d0s3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.443148440587-oab63svsnehmnq2a05e8cg7nro87d0s3</string>
	<key>API_KEY</key>
	<string>AIzaSyCRMOloMozPhRf3nF17PNsn6oa_uz5NuYw</string>
	<key>GCM_SENDER_ID</key>
	<string>443148440587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myProject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>signup-12385</string>
	<key>STORAGE_BUCKET</key>
	<string>signup-12385.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:443148440587:ios:565490a87e430afeb6230e</string>
</dict>
</plist>